doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article I
            .center.sliding IL 101
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_101")
          .page-content
            .content-block-title Scope
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |These rules govern proceedings in the courts of Illinois to the extent and with the exceptions stated in Rule 1101. A statutory rule of evidence is effective unless in conflict with a rule or a decision of the Illinois Supreme Court.<br /> <br /> Rule 101 provides that a statutory rule of evidence is effective unless in conflict with an Illinois Supreme Court rule or decision. There is no current statutory rule of evidence that is in conflict with a rule contained in the Illinois Rules of Evidence, with the possible exception of the statute discussed in the ary to Rule 609(d) below.
