ype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article I
            .center.sliding IL 105
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_105")
          .page-content
            .content-block-title Limited Admissibility
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |When evidence which is admissible as to one party or for one purpose but not admissible as to another party or for another purpose is admitted, the court, upon request, shall restrict the evidence to its proper purpose or scope and instruct the jury accordingly.
