
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article IV
            .center.sliding IL 402
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_402")
          .page-content
            .content-block-title Relevant Evidence Generally Admissible; Irrelevant Evidence Inadmissible
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |All relevant evidence is admissible, except as otherwise provided by law. Evidence which is not relevant is not admissible.
