
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article IV
            .center.sliding IL 410
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_410")
          .page-content
            .content-block-title Inadmissibility of Pleas, Plea Discussions, and Related Statements
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |Except as otherwise provided in this rule, evidence of the following is not admissible in any criminal proceeding against the defendant who made the plea or was a participant in the plea discussions:<br /> <br /> (1) a plea of guilty which was later withdrawn;<br /> <br /> (2) a plea of nolo contendere;<br /> <br /> (3) any statement made in the course of any proceedings under Illinois Supreme Court Rule 402 regarding either of the foregoing pleas; or<br /> <br /> (4) any statement made in the course of plea discussions which do not result in a plea of guilty or which result in a plea of guilty later withdrawn.<br /> <br /> However, such a statement is admissible (i) in any proceeding wherein another statement made in the course of the same plea or plea discussions has been introduced and the statement ought in fairness be considered contemporaneously with it, or (ii) in a criminal proceeding for perjury or false statement if the statement was made by the defendant under oath, on the record and in the presence of counsel.
