
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VI
            .center.sliding IL 607
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_607")
          .page-content
            .content-block-title Who May Impeach
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |The credibility of a witness may be attacked by any party, including the party calling the witness, except that the credibility of a witness may be attacked by the party calling the witness by means of a prior inconsistent statement only upon a showing of affirmative damage. The foregoing exception does not apply to statements admitted pursuant to Rules 801(d)(1)(A), 801(d)(1) (B), 801(d)(2), or 803.
