
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VI
            .center.sliding IL 612
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_612")
          .page-content
            .content-block-title Writing Used to Refresh Memory
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |If a witness uses a writing to refresh memory for the purpose of testifying, either—<br /> <br />  (1) while testifying, or<br /> <br />  (2) before testifying, an adverse party is entitled to have the writing produced at the hearing, to inspect it, to cross-examine the witness thereon, and to introduce in evidence for the purpose of impeachment those portions which relate to the testimony of the witness. If it is claimed that the writing contains matters not related to the subject matter of the testimony the court shall examine the writing in camera, excise any portions not so related, and order delivery of the remainder to the party entitled thereto. Any portion withheld over objections shall be preserved and made available to the appellate court in the event of an appeal. If a writing is not produced or delivered pursuant to order under this rule, the court shall make any order justice requires, except that in criminal cases when the prosecution elects not to comply, the order shall be one striking the testimony or, if the court in its discretion determines that the interests of justice so require, declaring a mistrial.
