
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VI
            .center.sliding IL 614
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_614")
          .page-content
            .content-block-title Calling and Interrogation of Witnesses by Court
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |(a) Calling by Court. The court may, on its own motion or at the suggestion of a party, call witnesses, and all parties are entitled to cross-examine witnesses thus called.<br /> <br />  (b) Interrogation by Court. The court may interrogate witnesses, whether called by itself or by a party.<br /> <br />  (c) Objections. Objections to the calling of witnesses by the court or to interrogation by it may be made at the time or at the next available opportunity when the jury is not present.
