
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VI
            .center.sliding IL 608
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_608")
          .page-content
            .content-block-title Evidence of Character Witness
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |The credibility of a witness may be attacked or supported by evidence in the form of opinion or reputation, but subject to these limitations: (1) the evidence may refer only to character for truthfulness or untruthfulness, and (2) evidence of truthful character is admissible only after the character of the witness for truthfulness has been attacked by opinion or reputation evidence or otherwise.
