
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VI
            .center.sliding IL 613
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_613")
          .page-content
            .content-block-title Prior Statements of Witnesses
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |(a) Examining Witness Concerning Prior Statement. In examining a witness concerning a prior statement made by the witness, whether written or not, the statement need not be shown nor its contents disclosed to the witness at that time, but on request the same shall be shown or disclosed to opposing counsel.<br /> <br />  (b) Extrinsic Evidence of Prior Inconsistent Statement of Witness. Extrinsic evidence of a prior inconsistent statement by a witness is not admissible unless the witness is first afforded an opportunity to explain or deny the same and the opposing party is afforded an opportunity to interrogate the witness thereon, or the interests of justice otherwise require. This provision does not apply to admissions of a party-opponent as defined in Rule 801(d)(2).
