
doctype
html
  include ../includes/head

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Article VIII
            .center.sliding IL 806
            .right
              // Right link contains only icon - additional "icon-only" class
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

      .pages
        .page(data-page="IL_806")
          .page-content
            .content-block-title Attacking and Supporting Credibility of Declarant
            .content-block
              .content-block-inner
                p(style='white-space:pre-line;')
                  |When a hearsay statement, or a statement defined in Rule 801(d)(2)(C), (D), (E), or (F), has been admitted in evidence, the credibility of the declarant may be attacked, and if attacked may be supported, by any evidence which would be admissible for those purposes if declarant had testified as a witness. Evidence of a statement or conduct by the declarant at any time, inconsistent with the declarant’s hearsay statement, is not subject to any requirement that the declarant may have been afforded an opportunity to deny or explain. If the party against whom a hearsay statement has been admitted calls the declarant as a witness, the party is entitled to examine the declarant on the statement as if under cross-examination.
