doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles IV.
            .right
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

        .pages.navbar-through.toolbar-through
          .page(data-page="article4")
            .page-content
              .list-block
                ul
                  li

                    a(href="rules/IL_401.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 401 - Definition of "Relevant Evidence"

                    a(href="rules/IL_402.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 402 - Relevant Evidence Generally Admissible; Irrelevant Evidence Inadmissible

                    a(href="rules/IL_403.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 403 - Exclusion of Relevant Evidence on Grounds of Prejudice, Confusion, or Waste of Time

                    a(href="rules/IL_404.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 404 - Character Evidence Not Admissible to Prove Conduct; Exceptions; Other Crimes

                    a(href="rules/IL_405.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 405 - Methods of Proving Character

                    a(href="rules/IL_406.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 406 - Habit; Routine Practice

                    a(href="rules/IL_407.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 407 - Reserved

                    a(href="rules/IL_408.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 408 - Compromise and Offers to Compromise

                    a(href="rules/IL_409.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 409 - Payment of Medical and Similar Expenses

                    a(href="rules/IL_410.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 410 - Inadmissibility of Pleas, Plea Discussions, and Related Statements

                    a(href="rules/IL_411.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 411 - Liability Insurance
