doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Article III.

        .pages.navbar-through.toolbar-through
          .page(data-page="article3")
            .page-content
              .list-block
                ul
                  li
                    a(href="rules/IL_301.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article III, Rule 301 - Presumptions In Civil Actions And Proceedings
