doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles I.
            .right
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li

                    a(href="rules/IL_901.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 901 - Requirement of Authentication or Identification

                    a(href="rules/IL_902.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 902 - Self-Authentication

                    a(href="rules/IL_903.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 903 - Subscribing Witness' Testimony Unnecessary
