doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles I.

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li
                    a(href="rules/IL_601.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 601 - General Rule of Competency
                  li
                    a(href="rules/IL_602.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 602 - Lack of Personal Knowledge
                  li
                    a(href="rules/IL_603.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 603 - Oath or Affirmation
                  li
                    a(href="rules/IL_604.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 604 - Interpreters
                  li
                    a(href="rules/IL_605.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 605 - Competency of Judge as Witness
                  li
                    a(href="rules/IL_606.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 606 - Competency of Juror as Witness
                  li
                    a(href="rules/IL_607.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 607 - Who May Impeach
                  li
                    a(href="rules/IL_608.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 608 - Evidence of Character Witness
                  li
                    a(href="rules/IL_609.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 609 - Impeachment by Evidence of Conviction of Crime
                  li
                    a(href="rules/IL_610.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 610 - Religious Beliefs or Opinions
                  li
                    a(href="rules/IL_611.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 611 - Mode and Order of Interrogation and Presentation
                  li
                    a(href="rules/IL_612.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 612 - Writing Used to Refresh Memory
                  li
                    a(href="rules/IL_613.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 613 - Prior Statements of Witnesses
                  li
                    a(href="rules/IL_614.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 614 - Calling and Interrogation of Witnesses by Court
                  li
                    a(href="rules/IL_615.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 615 - Exclusion of Witnesses
