doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles I.

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li
                    a(href="rules/IL_1001.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1001 - Definitions
                  li
                    a(href="rules/IL_1002.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1002 - Requirement of Original
                  li
                    a(href="rules/IL_1003.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1003 - Admissibility of Duplicates
                  li
                    a(href="rules/IL_1004.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1004 - Admissibility of Other Evidence of Contents
                  li
                    a(href="rules/IL_1005.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1005 - Public Records
                  li
                    a(href="rules/IL_1006.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1006 - Summaries
                  li
                    a(href="rules/IL_1007.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1007 - Testimony or Written Admission of Party
                  li
                    a(href="rules/IL_1008.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1008 - Functions of Court and Jury
