doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles I.

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li

                    a(href="rules/IL_701.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 701 - Opinion Testimony by Lay Witnesses
                  li
                    a(href="rules/IL_702.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 702 - Testimony by Experts
                  li
                    a(href="rules/IL_703.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 703 - Bases of Opinion Testimony by Experts
                  li
                    a(href="rules/IL_704.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 704 - Opinion on Ultimate Issue
                  li
                    a(href="rules/IL_705.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 705 - Disclosure of Facts or Data Underlying Expert Opinion
