doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Articles I.
            .right
              a(href="#").link.icon-only.open-panel
                i.icon.icon-bars-blue

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li

                    a(href="rules/IL_801.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 801 - Definitions
                  li
                    a(href="rules/IL_802.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 802 - Hearsay Rule
                  li
                    a(href="rules/IL_803.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 803 - Hearsay Exceptions; Availability of Declarant Immaterial
                  li
                    a(href="rules/IL_804.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 804 - Hearsay Exceptions; Declarant Unavailable
                  li
                    a(href="rules/IL_805.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 805 - Hearsay Within Hearsay
                  li
                    a(href="rules/IL_806.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 806 - Attacking and Supporting Credibility of Declarant
