doctype
html
  include includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Article I.

        .pages.navbar-through.toolbar-through
          .page(data-page="article1")
            .page-content
              .list-block
                ul
                  li
                    a(href="rules/IL_101.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 101 - Scope
                  li
                    a(href="rules/IL_102.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 102 - Purpose and Construction
                  li
                    a(href="rules/IL_103.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 103 - Rulings on Evidence
                  li
                    a(href="rules/IL_104.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 104 - Preliminary Questions
                  li
                    a(href="rules/IL_105.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 105 - Limiteed Admissibility
                  li
                    a(href="rules/IL_106.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 106 - Remainder of or Related Writings or Recorded Statements
