doctype
html
  include  includes/head
  body
    .statusbar-overlay
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .left
              a(href="rules/#").back.link
                i.icon.icon-back-blue
                span Back
            .center.sliding Rules
            .right
              a(href="rules/#").link.icon-only.open-panel
                i.icon.icon-bars-blue

        .pages.navbar-through.toolbar-through
          .page(data-page="rules")
            .page-content
              .list-block
                ul
                  li
                    a(href="rules/IL_101.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 101 - Scope

                    a(href="rules/IL_102.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 102 - Purpose and Construction

                    a(href="rules/IL_103.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 103 - Rulings on Evidence

                    a(href="rules/IL_104.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 104 - Preliminary Questions

                    a(href="rules/IL_105.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 105 - Limiteed Admissibility

                    a(href="rules/IL_106.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article I, Rule 106 - Remainder of or Related Writings or Recorded Statements

                    a(href="rules/IL_201.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article II, Rule 201 - Judicial Notice of Adjudicative Facts

                    a(href="rules/IL_301.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article III, Rule 301 - Presumptions in General in Civil Actions and Proceedings

                    a(href="rules/IL_401.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 401 - Definition of "Relevant Evidence"

                    a(href="rules/IL_402.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 402 - Relevant Evidence Generally Admissible; Irrelevant Evidence Inadmissible

                    a(href="rules/IL_403.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 403 - Exclusion of Relevant Evidence on Grounds of Prejudice, Confusion, or Waste of Time

                    a(href="rules/IL_404.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 404 - Character Evidence Not Admissible to Prove Conduct; Exceptions; Other Crimes

                    a(href="rules/IL_405.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 405 - Methods of Proving Character

                    a(href="rules/IL_406.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 406 - Habit; Routine Practice

                    a(href="rules/IL_407.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 407 - Reserved

                    a(href="rules/IL_408.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 408 - Compromise and Offers to Compromise

                    a(href="rules/IL_409.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 409 - Payment of Medical and Similar Expenses

                    a(href="rules/IL_410.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 410 - Inadmissibility of Pleas, Plea Discussions, and Related Statements

                    a(href="rules/IL_411.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IV, Rule 411 - Liability Insurance

                    a(href="rules/IL_501.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article V, Rule 501 - General Rule

                    a(href="rules/IL_502.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article V, Rule 502 - Attorney-Client Privilege and Work Product; Limitations on Waiver

                    a(href="rules/IL_601.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 601 - General Rule of Competency

                    a(href="rules/IL_602.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 602 - Lack of Personal Knowledge

                    a(href="rules/IL_603.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 603 - Oath or Affirmation

                    a(href="rules/IL_604.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 604 - Interpreters

                    a(href="rules/IL_605.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 605 - Competency of Judge as Witness

                    a(href="rules/IL_606.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 606 - Competency of Juror as Witness

                    a(href="rules/IL_607.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 607 - Who May Impeach

                    a(href="rules/IL_608.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 608 - Evidence of Character Witness

                    a(href="rules/IL_609.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 609 - Impeachment by Evidence of Conviction of Crime

                    a(href="rules/IL_610.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 610 - Religious Beliefs or Opinions

                    a(href="rules/IL_611.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 611 - Mode and Order of Interrogation and Presentation

                    a(href="rules/IL_612.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 612 - Writing Used to Refresh Memory

                    a(href="rules/IL_613.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 613 - Prior Statements of Witnesses

                    a(href="rules/IL_614.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 614 - Calling and Interrogation of Witnesses by Court

                    a(href="rules/IL_615.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VI, Rule 615 - Exclusion of Witnesses

                    a(href="rules/IL_701.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 701 - Opinion Testimony by Lay Witnesses

                    a(href="rules/IL_702.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 702 - Testimony by Experts

                    a(href="rules/IL_703.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 703 - Bases of Opinion Testimony by Experts

                    a(href="rules/IL_704.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 704 - Opinion on Ultimate Issue

                    a(href="rules/IL_705.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VII, Rule 705 - Disclosure of Facts or Data Underlying Expert Opinion

                    a(href="rules/IL_801.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 801 - Definitions

                    a(href="rules/IL_802.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 802 - Hearsay Rule

                    a(href="rules/IL_803.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 803 - Hearsay Exceptions; Availability of Declarant Immaterial

                    a(href="rules/IL_804.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 804 - Hearsay Exceptions; Declarant Unavailable

                    a(href="rules/IL_805.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 805 - Hearsay Within Hearsay

                    a(href="rules/IL_806.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article VIII, Rule 806 - Attacking and Supporting Credibility of Declarant

                    a(href="rules/IL_901.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 901 - Requirement of Authentication or Identification

                    a(href="rules/IL_902.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 902 - Self-Authentication

                    a(href="rules/IL_903.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article IX, Rule 903 - Subscribing Witness' Testimony Unnecessary

                    a(href="rules/IL_1001.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1001 - Definitions

                    a(href="rules/IL_1002.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1002 - Requirement of Original

                    a(href="rules/IL_1003.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1003 - Admissibility of Duplicates

                    a(href="rules/IL_1004.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1004 - Admissibility of Other Evidence of Contents

                    a(href="rules/IL_1005.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1005 - Public Records

                    a(href="rules/IL_1006.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1006 - Summaries

                    a(href="rules/IL_1007.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1007 - Testimony or Written Admission of Party

                    a(href="rules/IL_1008.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article X, Rule 1008 - Functions of Court and Jury

                    a(href="rules/IL_1101.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article XI, Rule 1101 - Applicability of Rules

                    a(href="rules/IL_1102.html").item-link
                      .item-content
                        .item-media
                          .i.fa.fa-file-text-o
                        .item-inner
                          .item-title Article XI, Rule 1102 - Title


    // Path to Framework7 Library JS
    script(type="text/javascript", src="js/framework7.min.js")
    // Path to your app js
    script(type="text/javascript", src="js/my-app.js")
